.about_page {
    margin-top: 80px;
}
.zhzh {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
}
#allmap {
    width: 70%;
    height: 150px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 10px;
}
.mar {
   margin-bottom:20px;
   margin-top:20px;
}
.martop {
    margin-top:20px;
}
.marleft {
    margin-left:-16px;
}
#name,#email {
    width:150px;
}
.messtext {
    margin-left:5px;
}
.mess {
    margin-left:10px;
    margin-bottom: 20px;
}
.font1 {
    font-size:20px;
    color: #f8af3c;
    font-family: cursive;
}
.font2 {
    font-size:10px;
}
.rest {
    /*width:100px;
    height:100px;*/
}
.restname {
    font-family: cursive;
    font-size:30px;
}
.form1 {
    width:70%;
    }