@charset "utf-8";
ul,li{
    list-style: none;
    margin:0;
    padding:0;
}
h2 {
    color: #f8af3c;
}

.details_title {
    margin-top: 60px;
}

.details_title h2 {
    font-size: 3em;
    letter-spacing: 30px;
}
/*	头部*/

.details_menu {
    border: 1px solid gainsboro;
}/*商品外包裹*/

.details_menu>a {
    display: block;
    position: relative;
    padding: 10px;
}/*包裹图片*/

.details_menu>a>img {
    width: 100%;
    height: 100%;
}/*图片响应设置*/

.details_menu>a .ordered {
    top: 10px;
    right: 10px;
}

.details_hover_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f8af3c;
    opacity: 0;
    transition: all .4s;
}/*hover效果*/
.details_hover_img span{
    display: block;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    font:20px "微软雅黑" ;
}

.details_menu>a:hover .details_hover_img {
    opacity: .8;
}
.details_menu_contain{
    padding: 20px;
}
.menu_name{
    font-size: 1em;
}/*菜品名字*/
.menu_price{
    font: 16px cursive;
    padding: 10px 0;
}
.menu_price span{
    color:#f8af3c ;
}
/*菜单价格样式*/
.menu_add a{
    display: block;
    padding: 5px;
    background-color:#f8af3c ;
    color: white;
    border-radius: 5px;
    font-size: 2em;
}
.menu_add a:hover {
    text-decoration: none;
}
.details_menu_font{
    padding: 10px;
}

.model_img{
    text-align: center;
    padding: 10px;
}

.model_img img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.model_intoduce{
    text-align: center;
    font: 16px "微软雅黑";
    padding: 10px;
}
.modal-footer .btn-primary{
    background-color: #f8af3c;
    border:1px solid #f8af3c;
    font: 30px cursive;
    padding: 10px 100px;
}
.modal-footer .btn-primary:hover{
    background-color: #ea9b1f;
}
.modal-footer{
    text-align: center;
    padding: 15px;
    border:none;
}
.details_shops{
    position: fixed;
    right: 14px;
    top: 87px;
    z-index: 20;
}
.details_shops_font{
    font-size:20px;
    padding: 20px;
    border:1px solid transparent;
    background-color: #FFFFFF;
}/*购物车字体图标*/
.details_shops_font:after{
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width:60px;
    background-color: white;
    bottom:-1px;
    left:0;
    z-index:11;
}
.menu_shops_show{
    z-index: 10;
    background-color: white;
    position:absolute;
    top:62px;
    right:0;
    display: none;
    width: 240px;
}
.menu_shops_show li{
    height: 40px;
    padding:10px;
    border-left:1px solid gainsboro;
    border-right:1px solid gainsboro;
    color:#444444;
    text-align: justify;
}
.menu_shops_show li:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}
.menu_shops_show li:first-child{
    border-top:1px solid gainsboro;
}
.menu_shops_show li:last-child{
    border-bottom:1px solid gainsboro;
    height: 56px;
}
.menu_shops_show li span {
    display: inline-block;
}
.menu_shops_show .btn-primary{
    border:1px solid #f8af3c;
    background-color: #f8af3c;
    width:100%;
}
/*购物车商品样式*/

.numbers {
    width: 18px;
    height: 18px;
    background-color: #f00;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 18px;
    color: #fff;
    position: absolute;
    top: 2px;
    right: 2px;
}